@page
@model DashboardTopModel
@{
  Layout = null;
}

<div class="row">
  <div class="col-md-5 px-1">
    <div class="card-box px-2">
      <h4 class="m-t-0 m-b-20 header-title"><b>Possible Buys (@Model.PTData.BuyLog.Count)</b><small id="buylist-refresh-icon"></small><small class="pull-right"><a href="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)BuyAnalyzer">more</a></small></h4>
      @if (Model.PTData.BuyLog.Count == 0) {

        <p>Your Profit Trailer did not find anything worth buying so far.</p>

      } else {
        
        <table class="table table-sm m-b-0">
          <thead>
            <tr>
              <th>Market</th>
              <th class="text-left" data-toggle="tooltip" data-placement="top" title="24 Hour price trend">24H</th>
              <th class="text-left" data-toggle="tooltip" data-placement="top" title="24 Hour trading volume">Volume</th>
              <th class="text-left" data-toggle="tooltip" data-placement="top" title="Current ask price for this market">Ask</th>
              <th>Buy Strategies</th>
            </tr>
          </thead>
          <tbody>
            @foreach (Core.Main.DataObjects.PTMagicData.BuyLogData buyLogEntry in Model.PTData.BuyLog.OrderBy(b => b.IsSom).
                        ThenByDescending(b => b.IsTrailing).
                        ThenByDescending(b => b.IsTrue).
                        ThenByDescending(b => b.TrueStrategyCount).
                        ThenByDescending(b => b.PercChange).
                        Take(Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBuyEntries)) {
                          
              Core.Main.DataObjects.PTMagicData.MarketPairSummary mps = null;
              if (Model.Summary.MarketSummary.ContainsKey(buyLogEntry.Market)) {
                mps = Model.Summary.MarketSummary[buyLogEntry.Market];
              }

              bool isTrailingBuyActive = buyLogEntry.IsTrailing;
              if (buyLogEntry.BuyStrategies.Count > 0) {
                isTrailingBuyActive = (buyLogEntry.BuyStrategies.FindAll(bs => bs.IsTrailing).Count > 0);
              }

              bool isBuyStrategyTrue = buyLogEntry.IsTrue;
              if (buyLogEntry.BuyStrategies.Count > 0) {
                isBuyStrategyTrue = (buyLogEntry.BuyStrategies.FindAll(bs => !bs.IsTrue).Count == 0);
              }

              bool buyDisabled = false;
              string buyStrategyText = Core.ProfitTrailer.StrategyHelper.GetStrategyText(Model.Summary, buyLogEntry.BuyStrategies, buyLogEntry.BuyStrategy, isBuyStrategyTrue, isTrailingBuyActive);
              if (!Core.ProfitTrailer.StrategyHelper.IsValidStrategy(buyStrategyText, true)) {
                buyDisabled = true;
              }              

              <tr>
                @if (mps == null || mps.ActiveSingleSettings == null || mps.ActiveSingleSettings.Count == 0) {
                  <th class="align-top"><a href="@Core.Helper.SystemHelper.GetMarketLink(Model.PTMagicConfiguration.GeneralSettings.Monitor.LinkPlatform,Model.PTMagicConfiguration.GeneralSettings.Application.Exchange, buyLogEntry.Market, Model.Summary.MainMarket)" target="_blank">@buyLogEntry.Market</a></th>
                } else {
                  <th class="align-top"><a href="@Core.Helper.SystemHelper.GetMarketLink(Model.PTMagicConfiguration.GeneralSettings.Monitor.LinkPlatform,Model.PTMagicConfiguration.GeneralSettings.Application.Exchange, buyLogEntry.Market, Model.Summary.MainMarket)" target="_blank">@buyLogEntry.Market</a> <i class="fa fa-exclamation-triangle text-highlight" data-toggle="tooltip" data-placement="top" data-html="true" title="@await Component.InvokeAsync("PairIcon", mps)" data-template="<div class='tooltip' role='tooltip'><div class='tooltip-arrow'></div><div class='tooltip-inner pair-tooltip'></div></div>"></i></th>
                }
                <td class="text-autocolor">@string.Format("{0}%", (buyLogEntry.PercChange * 100).ToString("#,#0.00"))</td>
                <td class="text">@string.Format("{0}", (buyLogEntry.Volume24h).ToString())</td>
                <td class="text-left">@buyLogEntry.CurrentPrice.ToString("#,#0.00000000", new System.Globalization.CultureInfo("en-US"))</td>

                @if (buyDisabled) {
                  <td>@Html.Raw(buyStrategyText)</td>
                } else {
                  <td>@Html.Raw(buyStrategyText)</td>
                }
              </tr>
            }
          </tbody>
        </table>

        @if (Model.PTData.BuyLog.Count > Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBuyEntries) {
          <p class="text-right"><small><i class="fa fa-info-circle"></i> @Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBuyEntries of @Model.PTData.BuyLog.Count items listed - <a href="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)BuyAnalyzer">View all items</a></small></p>
        }
      }
    </div>
  </div>

  <div class="col-md-7 px-1">
    <div class="card-box px-2">
      <h4 class="m-t-0 m-b-20 header-title"><b>Pairs / DCA / Pending (@Model.PTData.DCALog.Count)</b><small id="baglist-refresh-icon"></small><small class="pull-right"><a href="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)BagAnalyzer">more</a></small></h4>

      @if (Model.PTData.DCALog.Count == 0) 
      {
        <p>Profit Trailer is not reporting any holdings on your exchange.</p>
      } 
      else 
      {
        <div class="table-responsive">
          <table class="table table-sm m-b-0">
            <thead>
              <tr>
                <th>Market</th>             
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="24 Hour Trend">24H</th>
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="Total Buy Cost">Cost</th>
                <th></th>
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="Active buy strategies">DCA</th>
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="Active sell strategies">Sell</th>
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="Target profit to sell">Target</th>
                <th class="text-left" data-toggle="tooltip" data-placement="top" title="Current Profit">Profit</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @foreach (Core.Main.DataObjects.PTMagicData.DCALogData dcaLogEntry in Model.PTData.DCALog.OrderByDescending(d => d.ProfitPercent).Take(Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBagEntries)) {
                // Loop through the pairs preparing the data for display
                Core.Main.DataObjects.PTMagicData.MarketPairSummary mps = null;
                if (Model.Summary.MarketSummary.ContainsKey(dcaLogEntry.Market)) {
                  mps = Model.Summary.MarketSummary[dcaLogEntry.Market];
                }

                // bool shorting = Model.PTProperties.Shorting;

                bool dcaEnabled = true;
                if (mps != null) {
                  dcaEnabled = mps.IsDCAEnabled;
                }

                bool isTrailingBuyActive = dcaLogEntry.IsTrailing;
                if (dcaLogEntry.BuyStrategies.Count > 0) {
                  isTrailingBuyActive = (dcaLogEntry.BuyStrategies.FindAll(bs => bs.IsTrailing).Count > 0);
                }

                bool isBuyStrategyTrue = dcaLogEntry.IsTrue;
                if (dcaLogEntry.BuyStrategies.Count > 0) {
                  isBuyStrategyTrue = (dcaLogEntry.BuyStrategies.FindAll(bs => !bs.IsTrue).Count == 0);
                }

                bool isTrailingSellActive = false;
                if (dcaLogEntry.SellStrategies.Count > 0) {
                  isTrailingSellActive = (dcaLogEntry.SellStrategies.FindAll(ss => ss.IsTrailing).Count > 0);
                }

                bool isSellStrategyTrue = false;
                if (dcaLogEntry.SellStrategies.Count > 0) {
                  isSellStrategyTrue = (dcaLogEntry.SellStrategies.FindAll(ss => !ss.IsTrue).Count == 0);
                }

                bool buyDisabled = false;
                string leverage = "";
                double leverageValue = 0;

                string buyStrategyText = Core.ProfitTrailer.StrategyHelper.GetStrategyText(Model.Summary, dcaLogEntry.BuyStrategies, dcaLogEntry.BuyStrategy, isBuyStrategyTrue, isTrailingBuyActive);

                if (!Core.ProfitTrailer.StrategyHelper.IsValidStrategy(buyStrategyText, true)) 
                {
                  buyDisabled = true;
                }

                string sellStrategyText = Core.ProfitTrailer.StrategyHelper.GetStrategyText(Model.Summary, dcaLogEntry.SellStrategies, dcaLogEntry.SellStrategy, isSellStrategyTrue, isTrailingSellActive);

                // if leverage, recalculate profit target
                if (sellStrategyText.Contains("CROSSED"))
                {
                  string leverageText = sellStrategyText.Remove(0, sellStrategyText.IndexOf("CROSSED")+9);
                  leverage = leverageText.Remove(leverageText.IndexOf(".0)"), leverageText.Length - leverageText.IndexOf(".0)"));
                  leverageValue = double.Parse(leverage);
                }
                if (sellStrategyText.Contains("ISOLATED"))
                {
                  string leverageText = sellStrategyText.Remove(0, sellStrategyText.IndexOf("ISOLATED")+10);
                  leverage = leverageText.Remove(leverageText.IndexOf(".0)"), leverageText.Length - leverageText.IndexOf(".0)"));
                  leverageValue = double.Parse(leverage);
                }
                
                // Check for when PT loses the value of a pair
                bool lostValue = false;
                lostValue = (dcaLogEntry.TotalCost == 0.0) || (dcaLogEntry.AverageBuyPrice == 0.0);

                // Aggregate totals
                Model.TotalBagCost = Model.TotalBagCost + dcaLogEntry.TotalCost;
                double ExchangeFee = 0;

                switch (Model.PTMagicConfiguration.GeneralSettings.Application.Exchange.ToLower())
                {
                  case "binance":
                    ExchangeFee = 0.002;
                    break;
                  case "binanceus":
                    ExchangeFee = 0.002;
                    break;
                  case "binancefutures":
                    ExchangeFee = 0.002;
                    break;
                  case "bittrex":
                    ExchangeFee = 0.0025;
                    break;
                  case "poloniex":
                    ExchangeFee = 0.0025;
                    break;
                  default:
                    break;
                }

                double TradingFee = (dcaLogEntry.Amount * dcaLogEntry.CurrentPrice) * ExchangeFee;
                Model.TotalBagValue = Model.TotalBagValue + ((dcaLogEntry.Amount * dcaLogEntry.CurrentPrice) - TradingFee);

                // Render the row
                <tr @(lostValue ? "class=errorRow" : "") >
                  @if (mps == null || mps.ActiveSingleSettings == null || mps.ActiveSingleSettings.Count == 0) {
                    <th class="align-top"><a href="@Core.Helper.SystemHelper.GetMarketLink(Model.PTMagicConfiguration.GeneralSettings.Monitor.LinkPlatform,Model.PTMagicConfiguration.GeneralSettings.Application.Exchange, dcaLogEntry.Market, Model.Summary.MainMarket)" target="_blank">@dcaLogEntry.Market</a></th>
                  } else {
                    <th class="align-top"><a href="@Core.Helper.SystemHelper.GetMarketLink(Model.PTMagicConfiguration.GeneralSettings.Monitor.LinkPlatform,Model.PTMagicConfiguration.GeneralSettings.Application.Exchange, dcaLogEntry.Market, Model.Summary.MainMarket)" target="_blank">@dcaLogEntry.Market</a> <i class="fa fa-exclamation-triangle text-highlight" data-toggle="tooltip" data-placement="top" data-html="true" title="@await Component.InvokeAsync("PairIcon", mps)" data-template="<div class='tooltip' role='tooltip'><div class='tooltip-arrow'></div><div class='tooltip-inner pair-tooltip'></div></div>"></i></th>
                  }
                  
                  <td class="text-autocolor">@Html.Raw((dcaLogEntry.PercChange * 100).ToString("#,#0.00", new System.Globalization.CultureInfo("en-US")))%</td>

                  <td class="text-left">@Html.Raw(dcaLogEntry.TotalCost.ToString("#,#0.000000", new System.Globalization.CultureInfo("en-US")))</td>
                  
                  <td class="text-right">
                    @if (dcaEnabled) {
                      @if (dcaLogEntry.BoughtTimes > 0) {
                        @dcaLogEntry.BoughtTimes;
                      }
                    } else {
                      <span data-toggle="tooltip" data-placement="top" title="DCA is disabled"><i class="fa fa-ban text-highlight"></i></span>
                    }
                  </td>
                  <td>@Html.Raw(buyStrategyText)</td>
                  <td>@Html.Raw(sellStrategyText)</td>
                  
                  
                  @if (leverageValue == 0)
                  {
                    <td class="@Html.Raw((dcaLogEntry.TargetGainValue.HasValue && (dcaLogEntry.ProfitPercent > dcaLogEntry.TargetGainValue.Value)) ? "text-success" : "text-danger")">@Html.Raw(dcaLogEntry.TargetGainValue.HasValue ? dcaLogEntry.TargetGainValue.Value.ToString("#,#0.00", new System.Globalization.CultureInfo("en-US")) + "%" : "&nbsp")</td>
                  }
                  else
                  {
                    double leverageTargetGain = leverageValue * dcaLogEntry.TargetGainValue.Value;
                    <td class="@Html.Raw((dcaLogEntry.TargetGainValue.HasValue && (dcaLogEntry.ProfitPercent > dcaLogEntry.TargetGainValue.Value)) ? "text-success" : "text-danger")">@Html.Raw(dcaLogEntry.TargetGainValue.HasValue ? leverageTargetGain.ToString("#,#0.00", new System.Globalization.CultureInfo("en-US")) + "%" : "&nbsp")</td>
                  }
                  
                  @if(!@lostValue)
                  {
                    <td class="text-autocolor">@dcaLogEntry.ProfitPercent.ToString("#,#0.00", new System.Globalization.CultureInfo("en-US"))%</td>
                  }
                  else
                  {
                    <td class="text-left">No Value!</td>
                  }

                  <td class="text-right"><a href="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)_get/BagDetails/?m=@dcaLogEntry.Market" data-remote="false" data-toggle="modal" data-target="#dca-chart"><i class="fa fa-plus-circle"></i></a></td>
                </tr>
              }
              
            <td>Totals:</td>
            <td></td>
            <td>@Html.Raw(Model.TotalBagCost.ToString("#,#0.000000", new System.Globalization.CultureInfo("en-US")))</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td class="text-autocolor">@Html.Raw( (((Model.TotalBagValue - Model.TotalBagCost) / Model.TotalBagCost) * 100).ToString("#0.00", new System.Globalization.CultureInfo("en-US")))%</td>
            
            </tbody>
          </table>
        </div>

        @if (Model.PTData.DCALog.Count > Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBagEntries) {
          <p class="text-right"><small><i class="fa fa-info-circle"></i> @Model.PTMagicConfiguration.GeneralSettings.Monitor.MaxDashboardBagEntries of @Model.PTData.DCALog.Count items listed - <a href="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)BagAnalyzer">View all items</a></small></p>
        }
      }
    </div>
  </div>
</div>

<script src="@Html.Raw(Model.PTMagicConfiguration.GeneralSettings.Monitor.RootUrl)assets/js/jquery.nicescroll.js"></script>

<script type="text/javascript">
  (function ($) {
    'use strict';

    $("#dca-chart").on("show.bs.modal", function (e) {
      $(this).find(".modal-content").html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>');
      var link = $(e.relatedTarget);
      $(this).find(".modal-content").load(link.attr("href"), function () {
        $('.text-autocolor').autocolor(false);
        $('[data-toggle="tooltip"]').tooltip();
      });
    });

  })(jQuery);

</script>